<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' )}}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .hidden {
            display: none; /* Скрыть элемент */
        }
        .disabled {
            background-color: gray; /* Изменение цвета для недоступной кнопки */
            cursor: not-allowed; /* Курсор при наведении */
        }
    </style>
</head>
<body>
    <div class="page">
        <header>
            <div class="logo" onclick="location.href='{{ url_for('index') }}'">Логотип</div>
            <div class="buttons">
                <button class="icon-button" onclick="location.href='{{ url_for('shopping_list') }}'">
                    <img src="{{ url_for('static', filename='img/shoppingcart44.png') }}" alt="Список покупок">
                </button>
                <button class="icon-button1" onclick="location.href='{{ url_for('analytics') }}'">
                    <img src="{{ url_for('static', filename='img/analytics.png') }}" alt="Аналитика">
                </button>
                <button class="icon-button" onclick="location.href='{{ url_for('notifications') }}'">
                    <img src="{{ url_for('static', filename='img/notifications.png') }}" alt="Уведомления">
                </button>
            </div>
        </header>

        <!-- Поисковая строка -->
<!--        <div class="search-bar">-->
<!--            <input type="text" placeholder="Поиск...">-->
<!--        </div>-->
        <form method="get" class="search-bar">
            <input type="text" name="search" placeholder="Поиск по названию" value="{{ search_query }}">
            <select name="product_type" class="search-bar-filter">
                <option value="">Все категории</option>
                <option value="Мясо" > мясо </option>
                <option value="Овощ" > овощи </option>
                <option value="Фрукт" > фрукты </option>
                <option value="Ягода" > ягоды </option>
                <option value="Хлеб" > хлеб </option>
                <option value="Молочка" > молочка </option>
            </select>
            <button class="search-bar1" type="submit">Поиск</button>
        </form>

        <!-- Основной каталог -->
        <div class="maininfo">
            {% block maininfo %}<div class="product-list">
            {% for product in products %}
                <div class="product-card">
                    <h2>  {{ product.product_name }}</h2>
                    <h4>В наличии {{product.quantity}}  {{product.unit}}</h4>
                    <h4> осталось {{ product.days }} дней</h4>
                    <a href="{{ url_for('product', product_id=product.id) }}">Подробнее</a>
                </div>
            {% endfor %}
        </div>{% endblock %}
        </div>

        <!-- Нижнее поле -->
        <footer>
            <button id="myButton" class="icon-buttonfooter" onclick="location.href='{{ url_for('qr') }}'">
                    <img src="{{ url_for('static', filename='img/qr2.png') }}" alt="Скан">
            </button>
        </footer>
        <!-- скрипт, который делает кнопку qr видимой/невидимой в зависимости от девайса-->
        <script>
        // Получаем значение параметра из Python
        const parameterValue = {{ parameter_value | tojson }};

        // Функция для управления видимостью и доступностью кнопки
        function updateButtonVisibility(isVisible) {
            const button = document.getElementById('myButton');
            if (isVisible) {
                button.classList.remove('hidden');
                button.disabled = false; // Делаем кнопку доступной
            } else {
                button.classList.add('hidden');
                button.disabled = true; // Делаем кнопку недоступной
            }
        }

        // Используем значение параметра
        updateButtonVisibility(parameterValue);
    </script>
    </div>
</body>
</html>