{% extends 'base.html' %}

{% block title %}
<title>Уведомления</title>
{% endblock %}

{% block maininfo %}
<div>
    <h2>Уведомления</h2>
    {% for product in products0 %}
        <div class="notification-card"
             data-product-id="{{product.id}}"
             data-name="{{product.product_name}}">
            <h3>  {{ product.product_name }}</h3>
            <p>СРОК ГОДНОСТИ ИСТЁК!!!</p>
            <button class="add-btn">ПРОЧИТАНО</button>
        </div>
    {% endfor %}
    {% for product in products1 %}
        <div class="notification-card"
             data-product-id="{{product.id}}"
             data-name="{{product.product_name}}">
            <h3>  {{ product.product_name }}</h3>
            <p>СРОК ГОДНОСТИ ИСТЕЧЁТ ЧЕРЕЗ 1 ДЕНЬ</p>
            <button class="add-btn">ПРОЧИТАНО</button>
        </div>
    {% endfor %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
{% endblock %}
