{% extends 'base.html' %}

{% block title %}
<title>{{ product.product_name }}</title>
{% endblock %}

{% block maininfo %}
<div class="container">
    <h1>{{ product.product_name }}</h1>
    <p>Подробная информация:</p>
    <p>Тип: {{ product.product_type }}</p>
    <p>Дата изготовления: {{ product.manufacture_date }}</p>
    <p>Дата истечения срока годности: {{ product.expiry_date }}</p>
    <p>Масса/Объём: {{ product.quantity }}, {{ product.unit }}</p>
    <p>Тип измерения: {{ product.measurement_type }}</p>
    <h2>Пищевая ценность:</h2>
    <p>Калории: {{ product.nutrition_info.calories }}</p>
    <p>Белки: {{ product.nutrition_info.proteins }}</p>
    <p>Жиры: {{ product.nutrition_info.fats }}</p>
    <p>Углеводы: {{ product.nutrition_info.carbohydrates }}</p>
    <p>Колличество: {{ product.number }}</p>

    <a href="{{ url_for('index') }}" class="btn">Вернуться в каталог</a>
</div>
{% endblock %}
