{% extends 'base.html' %}


{% block maininfo %}
        <h1>QR Code Scanner</h1>
    <button id="openCameraButton">Open Camera</button>
    <input type="file" id="cameraInput" accept="image/*" capture="camera" style="display:none;">
    <div>
        <h1 id="product_name"></h1>
        <p id="full_information"></p>
        <p id="product_type"></p>
        <p id="manufacture_date"></p>
        <p id="expiry_date"></p>
        <p id="quantity_unit"></p>
        <p id="measurement_type"></p>
        <h2 id="nutrition_info"></h2>
        <p id="calories"></p>
        <p id="proteins"> </p>
        <p id="fats"> </p>
        <p id="carbohydrates"></p>
        <p id="number_of_item"></p>
        <button id="delete_btn" onclick="delete_item(event)">Удалить</button><button id="add_btn" onclick="add_item(event)">Добавить</button>
        <p id="product_status_in_bd"></p>
    </div>

    <script>
        let delete_btn = document.getElementById('delete_btn');
        let add_btn = document.getElementById('add_btn');
        delete_btn.classList.add('hidden');
        delete_btn.disabled = true;
        add_btn.classList.add('hidden');
        add_btn.disabled = true;
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/qr.js') }}"></script>
    <a href="{{ url_for('index') }}" class="btn">Вернуться в каталог</a>
{% endblock %}
