{% extends 'base.html' %}

{% block title %}
<title>Список покупок</title>
{% endblock %}

{% block maininfo %}
<div>
    <h2>Список покупок</h2>
    <div class="shopping-list">
    <!--Вывод товаров в списке покупок-->
    {% for product in cart %}
        <div class="product-card"
             data-product-id="{{product.id}}"
             data-quantity="0"
             data-name="{{product.product_name}}">
            <h2>  {{ product.product_name }}</h2>
            <div class="cart-controls">
                <button class="add-btn" onclick="handleCart(this)">Add to Cart</button>
                <div class="quantity-controls" style="display: none;">
                    <button class="quantity-btn" onclick="updateQuantity(this, -1)">-</button>
                    <span class="quantity">1</span>
                    <button class="quantity-btn" onclick="updateQuantity(this, 1)">+</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/shopping_list.js') }}"></script>